.lon , .lat{
    visibility: hidden;
    margin: 0px;
    font-size: 0px;
  }

.current {
    border:1px solid black;
    margin: 5px;
    margin-left: 75px;
    
}

.fiveday {
    border:1px solid black;
    margin: 5px;
    margin-left: 75px;
    background-color: aqua;
}
.btn {
    min-width: 250px;
}

.search {
    min-width: 250px;
}